<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.ayahiro.mybatis.mapper.UserMapper">

    <resultMap id="baseMap" type="User">
        <id property="id" column="user_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 根据username查询 -->
    <select id="findByUsername" parameterType="String" resultMap="baseMap">
        SELECT * FROM security_user WHERE username = #{username}
    </select>

    <!-- 注册用户 -->
    <insert id="register" parameterType="User">
        INSERT INTO security_user(username, password, role, permission)
        VALUES(#{username}, #{password}, #{role}, #{permission})
    </insert>
</mapper>